/*#navigation {
    background-color: #3a3a3c;
}

#navigation #main-menu a {
    color: white;
    text-shadow: none;
}

[class^="sicon-"] i, [class*=" sicon-"] i {
    background-image: url("../assets/images/css/sicon-set-white.png");
}*/

.page-welcome {
    background: #292929 url(../assets/images/pages/welcome/welcome2.jpg) 0 0 repeat fixed;
}

#navigation .brand {
    padding-right: 0px;
}

#navigation a.brand {
    text-decoration: none;
}
